<%- include('../partials/header') %>

<div class="cv-content">
    <h2>Exp&eacute;riences</h2>

    <% if (experiences.length > 0) { %>
        <% experiences.forEach(exp => { %>
            <div class="experience-item">
                <h3>&bull; <%= exp.poste %></h3>
                <span class="period"><%= exp.periode %></span>
                <% if (exp.description) { %>
                    <p class="description"><%= exp.description %></p>
                <% } %>
            </div>
        <% }); %>
    <% } else { %>
        <p>Aucune exp&eacute;rience enregistr&eacute;e.</p>
    <% } %>
</div>

<%- include('../partials/footer') %>
